
<% if @conversations %>
  <div class='contacts'>
    <% @conversations.each do |conversation| %>
      <% if conversation.user1_id == @user.id %>
        <% user2 = User.find(conversation.user2_id) %>
      <% elsif conversation.user2_id == @user.id %>
        <% user2 = User.find(conversation.user1_id) %>
      <% end %>
      <% if user2.username == @other_user.username %>
        <% select_class = 'selected' %>
      <% else %>
        <% select_class = 'normal' %>
      <% end %>
      <div class='user <%= select_class %>'>
        <p><span class='dot'><%= user2.username[0] %></span><%= link_to user2.username, conversation_messages_path(conversation) %></p>
      </div>
    <% end %>
  </div>
<% end %>

<p id='message-top'>Messages to <%= @other_user.username %></p>

<div class='messages'>

  <% if @messages %>
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <% if user.username == current_user.username %>
          <% identify_class = 'me' %>
        <% else %>
          <% identify_class = 'you' %>
        <% end %>
        <div class="<%= identify_class %>">
        <p><%= message.body %></p>
      </div>
      <% end %>
    <% end %>
  <% end %>

  <%= form_for [@conversation, @message] do |f| %>
    <p><%= f.text_field :body, placeholder: 'Send message' %><%= f.submit "", type: 'hidden' %></p>
    <p><%= f.text_field :user_id, value: current_user.id, type: "hidden" %></p>
    <p></p>
  <% end %>

</div>
